<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">

        <ion-header-bar class="bar-balanced">
            <div class="title">Menu</div>
        </ion-header-bar>

        <ion-content padding="false" class="side-menu-left has-header dark" ion-content="">
            <ion-list>
                <ion-item menu-close="">Perfil</ion-item>
                <ion-item ui-sref="menu.amigos" menu-close="">Top Zona</ion-item>
                <ion-item menu-close="">Premios</ion-item>
                <ion-item menu-close="">Logros</ion-item>
                <ion-item ui-sref="menu.reciclar" menu-close="">Reciclar</ion-item>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>